@import "tailwindcss";

:root {
  --background: rgba(230, 230, 230, 1);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--font-bebas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: rgba(230, 230, 230, 1);
    ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 24px;
  font-family: Bebas Neue, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}