@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: rgba(230, 230, 230, 1);
  --jukka-dark: #181818;
  --jukka-darker: #0f0f0f;
  --jukka-blood: #92181a;
  --jukka-red: #B11215;
  --jukka-toxic: #28e751;
  --jukka-green: #2bb148;
  --jukka-lgray: #d8d8d8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--font-bebas);

  /* Colors */
  --color-jukka-dark: var(--jukka-dark);
  --color-jukka-darker: var(--jukka-darker);
  --color-jukka-blood: var(--jukka-blood);
  --color-jukka-red: var(--jukka-red);
  --color-jukka-toxic: var(--jukka-toxic);
  --color-jukka-green: var(--jukka-green);
  --color-jukka-lgray: var(--jukka-lgray);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: rgba(230, 230, 230, 1);
    ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 24px;
  font-family: Bebas Neue, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}